= simple_form_for(@list, html: { class: 'form-group' }) do |f|
  = f.input :name, placeholder: 'name', error: 'name is mandatory, please specify one'
  h3 Tasks
  #tasks
    = f.simple_fields_for :tasks do |task|
      = render 'task_fields', f: task
    .links
      = link_to_add_association 'add task', f, :tasks
  = f.submit class: 'btn btn-success'