.container
  h1 Lists
  br/
  = link_to 'New List',  new_list_path, class: 'btn btn-success'
  br/
  br/
  table.table.table-hover.table-dark
    tr
      th Name
      th Actions
    - @lists.each do |list|
      tr
        td= list.name
        td
          = link_to 'Show', list_path(list), class: 'btn btn-success'
          = link_to 'Edit', edit_list_path(list), class: 'btn btn-primary'
          = link_to 'Destroy', list_path(list),            \
              method: :delete,                                             \
              data: { confirm: 'Are you sure?' } , class: 'btn btn-danger'

