.container
  br/
  h1.text-center = @list.name
  br/
  br/
  = link_to 'New Task', new_task_path(list_id: @list),class: 'btn btn-success'
  br/
  br/
  -if @list.tasks.present?
    table.table.table-hover.table-dark
      tr
        th Title
        th Description
        th Complete?
        th Change status
        th Actions
      - @list.tasks.order(created_at: :desc).each do |task|
        tr
          td= task.title
          td= task.description
          td= task.complete
          td= link_to 'Change', change_change_status_path(id: task), class: 'btn btn-warning mx-1'
          td
            = link_to 'Show', task_path(task), class: 'btn btn-success'
            = link_to 'Edit', edit_task_path(task), class: 'btn btn-success mx-1'
            = link_to 'Destroy', task_path(task),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
  p.text-center
    = link_to 'Back', lists_path, class: 'btn btn-success mx-1'
    = link_to 'Edit', edit_list_path(@list), class: 'btn btn-success mx-1'
    = link_to 'Destroy', list_path(@list),
      method: :delete,
      data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
