= simple_form_for @task do |f|
  = f.input :title, input_html: { class: 'special' }
  = f.input :description, as: :text
  = f.input :complete, input_html: { value: '1' }
  = f.hidden_field :list_id, value: @list.id
  = f.submit class: 'btn btn-success mb-3'

