.container.text-center
  br/
  strong Title:
  = @task.title
  br/
  br/
  strong Description:
  = @task.description
  br/
  br/
  strong Completed?:
  = @task.complete
  br/
  br/
  = link_to 'Back', list_path(@list), class: 'btn btn-success mx-1'
  = link_to 'Edit', edit_task_path(@task), class: 'btn btn-success mx-1'
  = link_to 'Destroy', task_path(@task),
    method: :delete,
    data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'